__pycache__/
*.pyc
runs/convergence/*/artifact/
runs/convergence/*/pw.out
runs/convergence/*/pw.err
runs/convergence/*/time.txt
runs/convergence/*/tmp/
runs/convergence_dfpt/*/artifact/
runs/convergence_dfpt/*/pw.out
runs/convergence_dfpt/*/pw.err
runs/convergence_dfpt/*/ph.out
runs/convergence_dfpt/*/ph.err
runs/convergence_dfpt/*/tmp/
runs/delB/*/artifact/
runs/delB/*/pw.out
runs/delB/*/pw.err
runs/delB/*/ph.out
runs/delB/*/ph.err
runs/delB/*/dynmat.out
runs/delB/*/dynmat.err
runs/delB/*/mat.dyn*
runs/delB/*/tmp/
runs/delB/*/clean_scf/tmp/
runs/delC/*/artifact/
runs/delC/*/pw.out
runs/delC/*/pw.err
runs/delC/*/ph.out
runs/delC/*/ph.err
runs/delC/*/dynmat.out
runs/delC/*/dynmat.err
runs/delC/*/mat.dyn*
runs/delC/*/tmp/
runs/delC/C3_LDA/*/artifact/
runs/delC/C3_LDA/*/*/artifact/
runs/delC/C3_LDA/**/pw.out
runs/delC/C3_LDA/**/pw.err
runs/delC/C3_LDA/**/ph.out
runs/delC/C3_LDA/**/ph.err
runs/delC/C3_LDA/**/vcrelax.out
runs/delC/C3_LDA/**/vcrelax.err
runs/delC/C3_LDA/**/dynmat.out
runs/delC/C3_LDA/**/dynmat.err
runs/delC/C3_LDA/**/mat.dyn*
runs/delC/C3_LDA/**/tmp/
collected/
artifacts/
